{:paths
 ["src"]

 :deps
 {me.raystubbs.clj-arsenal/basis
  {:local/root "../.."}

  me.raystubbs.clj-arsenal/basis-test
  {:local/root ".."}}

 :aliases
 {:test
  {:clj-arsenal.check/enabled true
   :clj-arsenal.check/ns-include-re "clj-arsenal[.]basis([.].+)?"}}}
